.tileContainer {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(10 * 1px);
    overflow: hidden;
    text-decoration: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.tileImage {
    width: 500px;
    height: 300px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.tileOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(10 * 1px);    
  background-color: #fff;      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.tileContainer:hover .tileOverlay {
    transform: translateY(0);
}

.tileHeader {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 2rem;
    border-radius: calc(10 * 1px);    
    background-color: #fff;    
    transform: translateY(-100%);
    transition: .2s ease-in-out;
    font-weight: bold;
    font-size: 12pt;
    letter-spacing: 0.1rem;
}

.tileContainer:hover .tileHeader {
    transform: translateY(0);
}

.tileDescription {
    padding: 0 0 2rem 2rem;
    margin: 0;
    overflow: hidden;
    font-size: 11.5pt;
}    