.tileStyle {
    position: relative;
    border: solid 1px lightgrey;  
    border-radius: 6px;
}

.tileStyle > img {
    border-radius: 6px;
    padding: 0.2rem 1.5rem 1.5rem 1.5rem;
}

.text {
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration:none;
}

a:active {
    text-decoration: none;
}