.tileStyle {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding-left: 1rem;
    width: 500px;
    height: 300px;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration:none;
}

a:active {
    text-decoration: none;
}