.footerContainer {
    max-width: 100%;
    padding: 0.8rem 3rem;
    font-size: 11.5pt;
}

@media all and (max-width:500px) {
    .footerContainer {
        padding: 0.8rem 1.5rem;
        font-size: 8.5pt;
    }
}