.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(253, 253, 251);
}

.loadingApp {
  margin: 2rem;
}



