.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

.loadingApp {
  margin: 2rem;
}

a {
  text-decoration: none;
  color: black;
}



