.overviewPageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;       
    max-width: 85%;
    gap: 3.5rem;   
    margin: auto;
    padding-bottom: 3rem;
}

.reportContainer {
    padding-bottom: 0.6rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.reportContainer img {  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.reportInfo {
    display: flex;
    flex-direction: row;
}

.reportIcon {
    width: 40px;
    height: 40px;
    padding: 1rem 1rem 0 1.5rem;
    margin-top: 0.3rem;
}

.text {
    margin-top: 0.2rem;
}

.title {    
    font-size: 13pt;    
    font-weight: bold;
    margin-bottom: -0.7rem;
}

.back {
    padding: 3rem;
}