.overviewPageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;       
    max-width: 85%;
    gap: 3.5rem;   
    margin: auto;
    padding-bottom: 6rem;
}

.reportContainer {
    width: 500px;
    height: 385px;
    padding-bottom: 0.6rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.reportImage {  
    width: 500px;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: solid 1px lightgray;
}

.reportInfo {
    display: flex;
    flex-direction: row;
}

.reportIcon {
    width: 40px;
    height: 40px;
    padding: 1rem 1rem 0 1.5rem;
    margin-top: 0.3rem;
}

.text {
    margin-top: 0.2rem;
}

.title {    
    font-size: 13pt;    
    font-weight: bold;
    margin-bottom: -0.7rem;
}

.back {
    padding: 3rem 3rem 4rem 3rem;
    font-size: 13.5pt;
}

@media all and (max-width:1100px) {
    .reportContainer {
        width: 400px;
        height: 340px;
    }

    .reportImage {  
        width: 400px;
        height: 250px;
    }
}

@media all and (max-width:800px) {
    .reportContainer {
        width: 290px;
        height: 245px;
    }

    .reportImage {  
        width: 290px;
        height: 170px;
    }

    .reportInfo {
        font-size: 11pt;  
    }

    .reportIcon {
        width: 35px;
        height: 35px;
        padding: 1rem 1rem 0 1rem;
    }

    .title {    
        font-size: 11pt;    
    }
}

@media all and (max-width:500px) {  
    .overviewPageContainer {
        justify-content: center;
    }

    .reportContainer {
        height: 235px;
    }

    .reportInfo {
        font-size: 9.5pt;  
    }
    
    .reportIcon {
        width: 30px;
        height: 30px; 
        padding: 0.7rem 1rem 0 1rem;       
    }
    
    .title {    
        font-size: 9.5pt;    
    }
}