.detailPageContainer { 
    border-radius: 5px;    
    padding-bottom: 3rem;   
}

.reportContainer {
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
    padding: 1rem 2rem 3rem 2rem;
}

.back {
    padding: 2rem 0rem 1.5rem 0rem;
}