.headerContainer {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding: 0.8rem 3rem;
    justify-content: space-between;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.logoContainer {
    max-width: 50%;
}

.logoContainer img {
    width: 220px;
    padding-top: 0.7rem;
}

.userContainer {
    display: flex;
    gap: 3rem;
    font-size: 12pt;
}

.userContainer a {
    margin-top: 1rem;
    font-weight: bold;
}

@media all and (max-width:500px) {
    .headerContainer {
        padding: 0.8rem 1.5rem;
    }

    .logoContainer img {
        width: 110px;
    }
    
    .userContainer {
        gap: 1rem;
        font-size: 8.5pt;
    }
    
    .userContainer a {
        margin-top: 0.7rem;
    }
}