.forbiddenContainer {
    height: 73vh;
    margin: 0 3rem;
}

.forbiddenContainer h3 {
    margin-top: 2rem;
}

@media all and (max-width:500px) { 
    .forbiddenContainer h3 {
        font-size: 12pt;
    }
}